git+https://github.com/Rapptz/discord.py@7f4c57dd5ad20b7fa10aea485f674a4bc24b9547
aiohttp==2.3.6
beautifulsoup4
bs4
chardet
colorthief
dhooks
lxml
mtranslate
parsedatetime
Pillow
psutil>=5.6.6
pyfiglet==0.7.5
pyparsing==2.2.0
pytz
requests==2.20.0
sympy
urbandict
urllib3
websockets
wikipedia
