/* 
 *
 * See the original files at https://github.com/WebKide/modbot
 *
 */

@import url('http://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:400italic,400');

@import url('http://www.cnap.graphismeenfrance.fr/infini/css/infini-fontes.css');

/* w3C */
 text-rendering: optimizeLegibility;
 font-feature-settings: "liga" 1, "dlig" 1;

/* prefixe */
-ms-text-rendering: optimizeLegibility;
-o-text-rendering: optimizeLegibility;
-webkit-text-rendering: optimizeLegibility;
-moz-text-rendering: optimizeLegibility;
-webkit-font-feature-settings: "liga" 1, "dlig" 1;
-moz-font-feature-settings: "liga=1, dlig=1";
-ms-font-feature-settings: "liga" 1, "dlig" 1;
-o-font-feature-settings: "liga" 1, "dlig" 1;

aside,
footer,
header,
nav,
section {
  display: block;
}
[hidden] {
  display: none;
}
html {
  font-family: 'Infini', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
body {
  color: #0f2a36;
  font-family: 'Infini', sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}
h1 {
  font-family: 'Infini', sans-serif;
  font-size: 91px;
  font-weight: 500;
}
h2 {
  color: #250d3b;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
}
h3 {
  color: #250d3b;
  font-family: 'Infini', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25em;
  margin: 0.5em 0;
}
h3 + p {
  margin-top: 0;
}
a {
  color: #2babe1;
  text-decoration: none;
}
abbr[title] {
  border: none;
}
.preamble abbr,
.supporting div abbr,
.requirements abbr {
  border-bottom: 1px dotted #30e0ad;
}
.preamble abbr:hover:after,
.supporting div abbr:hover:after,
.requirements abbr:hover:after {
  content: ' (' attr(title) ')';
  text-shadow: 0 0 1em #ffef00;
}
.spin from {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.spin to {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rise from {
  top: 100%;
}
.rise to {
  top: 165px;
}
.rise-short from {
  top: 100%;
}
.rise-short to {
  top: 275px;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rise {
  from {
    top: 100%;
  }
  to {
    top: 165px;
  }
}
@-moz-keyframes rise {
  from {
    top: 100%;
  }
  to {
    top: 165px;
  }
}
@-ms-keyframes rise {
  from {
    top: 100%;
  }
  to {
    top: 165px;
  }
}
@-o-keyframes rise {
  from {
    top: 100%;
  }
  to {
    top: 165px;
  }
}
@keyframes rise {
  from {
    top: 100%;
  }
  to {
    top: 165px;
  }
}
@-webkit-keyframes rise-short {
  from {
    top: 100%;
  }
  to {
    top: 275px;
  }
}
@-moz-keyframes rise-short {
  from {
    top: 100%;
  }
  to {
    top: 275px;
  }
}
@-ms-keyframes rise-short {
  from {
    top: 100%;
  }
  to {
    top: 275px;
  }
}
@-o-keyframes rise-short {
  from {
    top: 100%;
  }
  to {
    top: 275px;
  }
}
@keyframes rise-short {
  from {
    top: 100%;
  }
  to {
    top: 275px;
  }
}
aside:before {
  -webkit-animation: spin 8s infinite linear;
  -moz-animation: spin 8s infinite linear;
  -ms-animation: spin 8s infinite linear;
  -o-animation: spin 8s infinite linear;
}
aside:after {
  -webkit-animation: rise 1.5s 1 ease;
  -moz-animation: rise 1.5s 1 ease;
  -ms-animation: rise 1.5s 1 ease;
  -o-animation: rise 1.5s 1 ease;
}
header {
  margin: 0 auto;
  max-width: 1040px;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}
header h1 {
  border-top: 4px solid white;
  color: #82368e;
  display: inline-block;
  min-height: 70px;
  margin: 55px auto 0;
  padding: 0 10px;
  z-index: 2;
}
header h1:after {
  background-color: #82368e;
  content: '';
  height: 2px;
  left: 0;
  margin-top: -3px;
  position: absolute;
  width: 100%;
  z-index: -1;
}
header h2 {
  color: #55bed7;
  text-align: right;
  max-width: 300px;
  margin: -10px auto 0;
  width: 100%;
}
.summary {
  position: relative;
  max-width: 1040px;
  margin: 80px auto 0;
  width: 100%;
  z-index: 2;
}
.summary p {
  clear: right;
  color: #47506d;
  float: right;
  font-style: italic;
  margin: 0;
  width: 300px;
}
.summary p a:last-child {
  white-space: nowrap;
}
.preamble {
  clear: left;
  float: left;
  left: 50%;
  margin-left: -520px;
  max-width: 495px;
  position: relative;
  top: 298px;
  width: 50%;
  z-index: 4;
}
/* image for the background */
.intro {
  background: url('../images/modbot_bg.png') center top no-repeat;
  float: left;
  height: 590px;
  width: 100%;
}
.supporting {
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 5px solid #250d3b;
  border-bottom: 5px solid #2babe1;
  float: left;
  position: relative;
  width: 100%;
  z-index: 3;
}
.supporting > * {
  float: left;
  width: 50%;
}
.explanation {
  float: left;
  margin-left: 1.5%;
  max-width: 495px;
  padding-bottom: 15px;
  position: relative;
  left: 50%;
}
.participation {
  background: #edf6ff;
  border-top: 5px solid #cce4fb;
  padding-top: 15px;
  width: 100%;
}
.participation h3,
.participation p {
  clear: left;
  float: left;
  left: 50%;
  margin-left: -520px;
  max-width: 495px;
  position: relative;
}
.participation:after {
  background: url(../images/participation.png) 40px center no-repeat;
  clear: right;
  content: '';
  display: block;
  float: left;
  height: 412px;
  left: 50%;
  margin-top: -310px;
  max-width: 495px;
  min-width: 412px;
  position: relative;
  width: 100%;
}
.benefits {
  background-color: #edf6ff;
  border-bottom: 5px solid #cce4fb;
  margin-bottom: 25px;
  padding: 150px 0 50px 0;
  width: 100%;
}
.benefits h3,
.benefits p {
  clear: left;
  float: left;
  left: 50%;
  margin-left: 1.5%;
  max-width: 495px;
  position: relative;
  width: 50%;
}
.benefits:before {
  border: 1px solid #250d3b;
  content: '';
  display: block;
  height: 0px;
  left: 50%;
  position: absolute;
  margin: -60px 0 0 -110px;
  width: 220px;
}
.benefits:after {
  background: url(../images/benefits.png) 150px center no-repeat;
  content: '';
  display: block;
  float: left;
  height: 312px;
  left: 50%;
  margin: -90px 0 0 -1050px;
  max-width: 495px;
  min-width: 312px;
  position: relative;
  width: 100%;
}
.requirements {
  left: 50%;
  margin-left: -520px;
  max-width: 1040px;
  min-height: 350px;
  position: relative;
  width: 100%;
}
.requirements h3 {
  text-align: center;
}
.requirements p {
  float: left;
  margin-top: 0;
  max-width: 495px;
  width: 47.5%;
}
.requirements p:nth-child(-n+3) {
  clear: left;
  margin-right: 5%;
}
.requirements p:nth-child(4) {
  position: absolute;
  right: 0;
}
.requirements p:last-child {
  font-size: 24px;
  line-height: 1.25em;
  margin-top: 40px;
  max-width: none;
  padding: 0 22.5% 20px;
  text-align: center;
  width: 55%;
}
aside {
  background: #2babe1;
  border-top: 5px solid #edf6ff;
  clear: both;
  display: block;
  float: left;
  margin-bottom: -5px;
  width: 100%;
}
aside:before {
  background-image: url('png') center top no-repeat;
  content: '';
  height: 921px;
  left: 50%;
  margin-left: -461.5px;
  position: fixed;
  top: 60px;
  width: 923px;
}
aside:after {
  background-image: url('png') center top no-repeat;
  content: '';
  height: 949px;
  left: 50%;
  margin-left: -215px;
  position: fixed;
  top: 165px;
  width: 429px;
  z-index: 1;
}
aside .wrapper {
  background: #2babe1;
  border-top: 5px solid #edf6ff;
  margin: -5px auto 0;
  max-width: 1040px;
  padding: 40px 0 30px 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
aside .wrapper:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}
aside .wrapper h3 {
  color: #00374f;
  font-size: 24px;
  margin-top: 0;
}
aside .wrapper a {
  color: #edf6ff;
}
aside .wrapper a.designer-name {
  color: #00374f;
}
aside .wrapper ul {
  list-style: none;
  padding: 0;
}
aside .wrapper ul li {
  margin-bottom: 12px;
}
aside .wrapper ul li:last-child {
  margin-bottom: 0;
}
aside .wrapper .design-selection {
  border-right: 2px solid #edf6ff;
  float: left;
  margin-right: 40px;
  width: 50%;
}
aside .wrapper .design-selection .design-name {
  display: block;
}
aside .wrapper .zen-resources {
  margin-top: 40px;
}
.supporting footer {
  background: #47506d;
  font-size: 22px;
  height: 65px;
  text-align: center;
  width: 100%;
}
.supporting footer a {
  color: #edf6ff;
  margin-right: 25px;
  vertical-align: -1em;
}
.supporting footer a:last-child {
  margin-right: 0;
}
@media (max-width: 1040px) {
  .intro {
    height: 700px;
  }
  .intro .summary {
    left: auto;
    margin-top: 15px;
    text-align: center;
    top: auto;
  }
  .intro .summary p {
    float: none;
    margin: 0 auto 10px;
    max-width: 300px;
    width: 90%;
  }
  .preamble {
    left: auto;
    margin: 0 2.5% 0 5%;
    top: 413px;
    width: 42.5%;
  }
  .explanation {
    margin: 0 5% 0 2.5%;
    width: 42.5%;
  }
  .participation h3,
  .participation p {
    left: auto;
    margin-left: 5%;
    width: 47%;
  }
  .participation:after {
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    float: right;
    margin: -330px 5% 0 0;
    min-width: 0;
    position: static;
    width: 40%;
  }
  .benefits h3,
  .benefits p {
    margin-right: 5%;
    width: 47%;
  }
  .benefits:after {
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    clear: left;
    margin: -230px 0 0 5%;
    min-width: 0;
    position: static;
    width: 40%;
  }
  .requirements {
    left: auto;
    margin-left: 0;
    padding: 0 5%;
    width: 90%;
  }
  .requirements p:nth-child(4) {
    right: 5%;
    width: 42.5%;
  }
  .requirements p:last-child {
    padding: 0 20% 20px;
    width: 60%;
  }
  aside:before {
    top: 170px;
  }
  aside:after {
    -webkit-animation: rise-short 1.5s 1 ease;
    -moz-animation: rise-short 1.5s 1 ease;
    -ms-animation: rise-short 1.5s 1 ease;
    -o-animation: rise-short 1.5s 1 ease;
    top: 275px;
  }
  aside .wrapper {
    padding: 40px 5% 30px;
    width: 90%;
  }
}
@media (max-width: 750px) {
  .intro header h1 {
    font-size: 60px;
    min-height: 50px;
    margin-top: 35px;
  }
  .intro header h2 {
    max-width: 455px;
  }
  .intro .summary {
    margin-top: 35px;
  }
  .intro .preamble {
    top: 433px;
  }
}
@media (max-width: 650px) {
  .intro {
    height: 985px;
    position: relative;
  }
  .intro .preamble {
    background: rgba(255, 255, 255, 0.9);
    border-top: 5px solid #250d3b;
    bottom: 0;
    margin: 0;
    max-width: none;
    padding: 25px 0;
    position: absolute;
    top: auto;
    width: 100%;
  }
  .intro .preamble h3,
  .intro .preamble p {
    width: 85%;
    margin: 0 auto;
  }
  .supporting {
    border-top: none;
  }
  .supporting footer {
    font-size: 18px;
  }
  .supporting footer a {
    vertical-align: -1.25em;
  }
  .explanation {
    float: none;
    left: auto;
    margin: 0;
    max-width: none;
    padding: 0 7.5% 10px;
    width: 85%;
  }
  .participation h3,
  .participation p {
    float: none;
    margin: 0 auto;
    width: 85%;
  }
  .participation:after {
    float: none;
    margin: 50px auto 0;
    width: 80%;
  }
  .benefits h3,
  .benefits p {
    float: none;
    left: auto;
    margin: auto;
    width: 85%;
  }
  .benefits:after {
    background-position: center;
    float: none;
    margin: 50px auto 0;
    width: 80%;
  }
  .requirements {
    padding: 0 7.5%;
    width: 85%;
  }
  .requirements p {
    float: none;
    position: static !important;
    width: 100% !important;
  }
  .requirements p:last-child {
    padding: 0 0 20px;
  }
  aside .wrapper .design-selection,
  aside .wrapper > div {
    border: none;
    float: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  aside .wrapper .design-archives {
    margin-top: 40px;
  }
  aside .wrapper > div h3 {
    margin: 0;
  }
  aside .wrapper > div ul {
    margin-top: 0;
  }
  aside:after {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    left: auto;
    margin: 0 5%;
    width: 90%;
  }
}
@media (max-width: 500px) {
  .intro header h1 {
    background: white;
    font-size: 40px;
    line-height: 1em;
    margin: 15px 0 10px;
    min-height: 40px;
  }
  .intro header h1:after {
    margin-top: 18px;
  }
  .intro header h2 {
    font-size: 16px;
    max-width: 310px;
  }
}
dl , dd, dt{
  margin: 0;
}
dl {
    text-align: right;
}
dt {
    border-bottom: 1px dashed;
    display: inline-block;
    line-height: 1;
    color: steelblue;
    cursor: pointer;
}
dt:after {
      content: "";
      display: inline-block;
      border: 0 solid transparent;
      border-width: 8px 4px 0;
      border-top-color: currentColor;
      border-bottom-color: currentColor;
      margin-left: 5px;
}
.opened:after {
        border-width: 0 4px 8px ;
}
dd {
    text-align: left;
}
.hidden {
  display: none;
}
.columns:after {
  content: "";
  display: table;
  clear: both;
}
.column {
    width: 48%;
}
.column--left {
      float: left;
}
.column--right {
      float: right;
}
